include LICENSE
include README.rst

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include src/molecule_podman/cookiecutter **/*
recursive-include src/molecule_podman/playbooks **/*
